/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/*pagination*/
.pagination li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
#orders-data-table{
    --table-width: 100%;
}
#orders-data-table tbody{
    display:block;
    max-height:500px;
    overflow-y:auto;
}
#orders-data-table thead, #orders-data-table tbody tr {
    display:table;
    width: var(--table-width);
    table-layout:fixed;
}